html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--joy-palette-background-body);
  color: var(--joy-palette-text-primary);
}

/* Custom cursor for clickable elements */
button,
a {
  cursor: url('/cursors/pointer.cur'), pointer; /* Use custom pointer cursor */
}

/* Custom cursor for Joy UI buttons */
.MuiButton-root {
  cursor: url('/cursors/pointer.cur'), pointer; /* Use custom pointer cursor */
}

/* Default auto cursor for other elements */
body {
  cursor: url('/cursors/pointer.cur'),auto; /* Default auto cursor for all other elements */
}

a.custom-cursor,
button.custom-cursor {
  cursor: url('/cursors/pointer.cur'), pointer; /* Use custom pointer cursor */
}




/* Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5); /* light background for track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-30deg,rgba(160, 200, 255, 0.5), rgba(42, 126, 230, 0.774)); /* lighter blue */
  border-radius: 10px; /* rounded corners */
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(160, 200, 255, 0.5) rgba(42, 126, 230, 0.774);
}

/* For other browsers, if needed */
body {
  --scrollbar-track-color: rgba(241, 241, 241, 0.5); /* light background */
  --scrollbar-thumb-color: rgba(140, 180, 230, 0.5); /* lighter blue */
}





/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
